* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;

}

.sidebar {
    /* float: left;
    clear: right; */
    width: auto%;
    background-color: #f1f1f1;
    position: fixed;
    height: 90%;
    overflow: visible;
    padding: 6px 14px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    

}

.set2 {
    display: inline-flex;
    position: initial;
    margin-top: 35%;
    list-style: none;


}

.set {
    color: black;


}

.header {
    background-color: rgba(31, 70, 70, 0.914);
    margin-top: 0px;
    /* position: fixed; */
    width: 100%;


}

#img2 {
    /* height: 30%;
    width: 30%; */
    padding-top: 30px;
    padding-left: 80px;
    padding-right: 30px;
    padding-bottom: 30px;



}

.title {
    display: inline-flex;
    color: white;
    position: absolute;
    margin-top: 30px;
    flex-direction: column;
}

.set3 {
    display: inline-flex;
    text-decoration: none;
    color: white;
    margin: 2px;
    padding: 2px;

}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 95%;
    background-color: white;
    margin-left: 5%;
}

#customers td,
#customers th {

    padding: 15px;
}

#customers tr:nth-child(even) {
    background-color: #ddd;
}

/* #customers tr:hover {
    background-color: #ddd;
} */
#customers th {
    /* padding-top: 12px;
    padding-bottom: 12px; */
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

.footer {
    background-color: rgb(118, 78, 226);
    position: fixed;
    left: 0;
    bottom: 0;
    /* height: 15%; */
    width: 100%;

}

#img1 {
    height: 7%;
    width: 7%;
    padding: 10px;
    box-sizing: border-box;
}

.footer_text {
    /* margin-left: 20px;
margin-top: 20px; */
    padding: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: white;
    display: inline-flex;


}


.footer_leftside {

    display: inline-flex;
    font-size: 10px;
    color: white;
    position: absolute;
    margin-top: 15px;
    flex-direction: column;
}

.playback {
    width: 60%;
    float: right;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 50px;

}

.icon_color {
    color: white;
}